.nav-bar2 {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 720px) {
  .nav-bar2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (max-width:300px) {
  .nav-bar2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
  }
}